nav {
    background-color: rgb(25,25,25);
}
.logo {
    color: #FC4800;
}

.logo:hover {
    color: #FC4800;
}

.section-01-bg {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 13%, rgba(17,17,17,1) 50%, rgba(34,34,34,1) 71%);
}

.section-01 {
    min-height: calc(100vh - 56px);
    color: #FC4800;
}

.section-01 button {
    background-color: #FC4800;
    color: #fff;
    border: 1px solid #fff;
    transition: all ease 0.2s
}

.section-01 button:hover {
    background-color: #f85b1c;
    border: 1px solid #fff;
}

.section-02 {
    min-height: 100vh;
}

.section-02-first {
    height: 40%;
}

.section-03 {
    min-height: 100vh;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 13%, rgba(17,17,17,1) 50%, rgba(34,34,34,1) 71%);
}


.section-03-title {
    height: 100px;
}

.article {
    cursor: pointer;
}

.article-light {
    cursor: pointer;
}

.article:hover {
    background: rgb(0,0,0); 
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(17,17,17,1) 39%, rgba(67,28,14,1) 55%, rgba(107,38,11,1) 67%, rgba(147,47,8,1) 79%, rgba(195,58,4,1) 87%, rgba(252,72,0,1) 93%);
}

.article-light:hover {
    background: #fff; 
    background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 39%, rgb(196, 105, 73) 55%, rgb(192, 77, 32) 67%, rgb(212, 81, 28) 79%, rgba(195,58,4,1) 87%, rgba(252,72,0,1) 93%);
}

.section-04 {
    min-height: 60vh;
}

.contcss {
    height: 60vh;
}

.footer {
    color: #fff;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.7231267507002801) 0%, rgb(26, 25, 25) 74%);
    margin-top: 100px;
}

.articles a {
    text-decoration: none;
    color: #fff
}

.articles a:hover {
    color: #fff;
}

.inflation {
    max-height: 55vh;
}

@media (max-width: 1000px) {
    .img {
        height: 300px;
        width: 300px;
    }

    .inflation {
        max-height: 65vh;
    }
}

@media (max-width: 780px) {
    .calc-response {
        flex-direction: column;
    }
}

@media (max-width: 760px) {
    .first-section {
        align-items: center;
        text-align: center;
    }

    .img2 {
        display: none;
    }

    .responsive {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .card-responsive {
        justify-content: center;
    }

    .contact {
        text-align: center;
    }
}

@media (max-width: 540px) {
    .inflation {
        max-height: 85vh;
    }

    .img{
        width: 200px;
        height: 200px;
    }

    .contact-area img {
        height: 24px;
        width: 24px;
    }

    .contact-area p {
        font-size: 14px;
    }
}

@media (max-width: 360px) {
    .inflation {
        max-height: 95vh;
    }
}